$theme-color: #D43D3D;
$nav-grey: #F4F5F6;
$nav-text-color: #505050;
$nav-text-active-color: #f85959;

html {
    background: #fff;
    font-family: STHeiti,Microsoft YaHei,Helvetica,Arial,sans-serif;
    -webkit-text-size-adjust: none;
    word-break: break-word;
}

//移动端点击a标签有阴影的解决方法
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.clearfix::after {
    content: ' ';
    display: block;
    clear: both;
}

.line3 {
    // 限制在一个块元素显示的文本的行数
    -webkit-line-clamp: 3;
}

@font-face {
    font-family: 'toutiao-iconfont';  /* project id 363854 */
    src: url('//at.alicdn.com/t/font_gunoldcqvx61dcxr.eot');
    src: url('//at.alicdn.com/t/font_gunoldcqvx61dcxr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_gunoldcqvx61dcxr.woff') format('woff'),
    url('//at.alicdn.com/t/font_gunoldcqvx61dcxr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_gunoldcqvx61dcxr.svg#iconfont') format('svg');
}

.icon {
    font-family: 'toutiao-iconfont';
    font-style: normal;
}

.icon-refresh::before{
  content: '\e62b';
}