$theme-color: #D43D3D;
$nav-grey: #F4F5F6;
$nav-text-color: #505050;
$nav-text-active-color: #f85959;

//移动端点击a标签有阴影的解决方法
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}